*.jar
*.class
.svn
*.myhibernatedata
WebRoot/WEB-INF/classes/
/WebRoot/WEB-INF/classes/jdbc.properties
/src/paraments.properties
.settings/*
*/target/*
/target
/bin
/data
/logs
*//logs
*.log
*.log.*


*.ttf

*.classpath

!/src/main/webapp/WEB-INF/lib/*
/target/classes
